.images-section {
    background-color: black;
    padding: 30px 15px 0px 15px;
    color: wheat;
}

article {
    margin-top: 15px;
    margin-bottom: 15px;
}

figcaption {
    padding: 5px;
}

.central-align {
    text-align: center;
    vertical-align: middle;
}

.won {
    background-color: #9EFF9E!important;
}

.lost {
    background-color: #FFE3E3!important;
}