body {
    background-color: black;
}

.navbar {
    background-color: #c19d53;
}

.introduction-section {
    padding-top: 15px;
    background-color: white;
}

.images-section {
    background-color: black;
    padding: 30px 15px 0px 15px;
    color: wheat;
}

article {
    margin-bottom: 15px;
    background-color: white;
    padding: 15px;
}

figcaption {
    padding: 5px;
}

.central-align {
    text-align: center;
    vertical-align: middle;
}

.won {
    background-color: #9EFF9E!important;
}

.lost {
    background-color: #FFE3E3!important;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-55 {
    margin-top: 55px;
}

.padding-top-10 {
    padding-top: 10px;
}